extends base.pug

block meta-tags 
  meta(name="description", content="I am a full stack web developer with deep practice in MERN Stack web developement. If you are hiring a developer for full time or looking for a freelancer for your project, i am just an e-mail away.")
  meta(name="keywords", content="mern stack, web developer portfolio, full stack web developer portfolio, harshit dubey, harshit dubey web developer, mern stack portfolio, indian web developer portfolio, hire web developer, freelance web developer")
  title #{title}

block style
  style
    include ../static/css/home.css

block content
  #main-section
    .main-heading-box
      h1.main-heading Hi, 
        br
        | Myself #[span(class="h-span") Harshit...] 

    .main-para-box 
      p.main-para I am a full stack web developer with deep practice in #[span(class="p-span") MERN Stack] web developement. If you are hiring a developer for full time or looking for a freelancer for your project, i am just an e-mail away.
        br
        | Let's get connected...

    .main-button-box 
      a(href="/skills").main-section-links Skills
      a(href="/projects").main-section-links Projects
      a(href="/contact").main-section-links Contact Me

    
