extends base.pug

block meta-tags 
  meta(name="description", content="I am a full stack web developer with deep practice in MERN Stack web developement. If you are hiring a developer for full time or looking for a freelancer for your project, i am just an e-mail away.")
  meta(name="keywords", content="mern stack, web developer portfolio, full stack web developer portfolio, harshit dubey, harshit dubey web developer, mern stack portfolio, indian web developer portfolio, hire web developer, freelance web developer, mern stack skills, skills, web developer skills")
  title #{title}
  <script src="https://kit.fontawesome.com/fe3f47e8a0.js" crossorigin="anonymous"></script>

block style
  style
    include ../static/css/skills.css

block content
  #main-section
    .main-section-inner
      h1.main-heading SKILLS 
      p I started my web developer journey with #[span HTML, CSS and JAVASCRIPT] back in late 2019. Then seeing the disadvanteges of simple html and css, i moved towards template engines and SASS.
      p I worked lot in #[span PUG and SCSS.] In fact, this website is made using pug and scss in front-end for now(may be changed later). 
      p My current toolset consists of React, Node, Express framework, Mongo database, Apache web server and other libraries and technologies related to them.
      p #[span If we talk about my soft skills, some of them are:]
      ul 
        li I have learned all the skills of my own(i mean without any personal coaching). So i can learn skills required to project quickly and efficiently.
        li I know the importance of team work as i highly believe in interdependance mentality.
        li This thinking also increases my adaptibility.
        li I am highly passionate about logic and creative thinking.
        li Don't be fully dependent on instructions, do something out of box. My personal thinking..
      hr

      h2 #[i(class="fas fa-edit")] FRONT-END SKILLS 
      .front-end-skill-box 
        li HTML 
        li CSS 
        li JAVASCRIPT 
        li REACT.JS 
        li PUG 
        li SASS 
      hr

      h2 #[i(class="fas fa-edit")] BACK-END SKILLS 
      .back-end-skill-box  
        li NODE.JS 
        li EXPRESS 
        li MONGO DB  
        li MONGOOSE 
      hr

      h2 #[i(class="fas fa-edit")] OTHER SKILLS 
      ul 
        li I have uploaded projects on git and have a good understanding of it.
        li I have used apache web server and also have understanding of hosting.
        li Have used linux web servers.
        li Have used putty, filezilla, postman etc web tools.
        li Familiar with python language.

      p So, let's see what i can do for you. Feel free to contact if you have any quarry... 


    
