* {
  margin: 0;
  padding: 0;
}

#main-section {
  height: 100%;
  background-color: black;
  width: 75%;
  float: right;
  opacity: 92%;
}

#main-section .main-heading-box {
  -webkit-animation: h-animation 2s ease-in-out;
          animation: h-animation 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: relative;
}

#main-section .main-heading-box .main-heading {
  color: #bad813;
  font-size: 3rem;
  font-family: system-ui;
  text-align: left;
  padding: 0.5em 0.5em 0.5em 1em;
  margin-top: 0.6em;
}

#main-section .main-para-box {
  -webkit-animation: p-animation 3s ease-in-out 1 normal forwards;
          animation: p-animation 3s ease-in-out 1 normal forwards;
  position: relative;
}

#main-section .main-para-box .main-para {
  color: #ebe2e2;
  font-size: 2rem;
  text-align: left;
  font-family: -webkit-pictograp;
  padding: 0.5em 1.8em;
  width: 75%;
}

#main-section .main-para-box .main-para .p-span {
  font-weight: bolder;
  font-family: system-ui;
  color: white;
}

#main-section .main-button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3em;
  margin-left: 1.6em;
  position: relative;
  -webkit-animation: btn-animation 2s ease-in-out 1 normal forwards;
          animation: btn-animation 2s ease-in-out 1 normal forwards;
}

#main-section .main-button-box .main-section-links {
  display: block;
  padding: 0.5em 1em;
  background: none;
  color: #d6e416;
  margin: 0 1.5em;
  position: relative;
  font-size: 1.6rem;
  font-family: -webkit-pictograph;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#main-section .main-button-box .main-section-links::before, #main-section .main-button-box .main-section-links::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#main-section .main-button-box .main-section-links::before {
  top: 0px;
  left: 0px;
  border-top: 4px solid #dceb0b;
  border-left: 4px solid #29da12;
}

#main-section .main-button-box .main-section-links::after {
  right: 0px;
  bottom: 0px;
  border-right: 4px solid #26df0e;
  border-bottom: 4px solid #c9d60e;
}

#main-section .main-button-box .main-section-links:hover::before, #main-section .main-button-box .main-section-links:hover::after {
  width: 110%;
  height: 115%;
}

#main-section::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  bottom: 0;
  right: 0;
  background-image: url(../static/img/mybg2.jpg);
  background-position: center;
  background-size: cover;
  opacity: 60%;
  width: 75%;
}

@-webkit-keyframes h-animation {
  0% {
    top: -200px;
  }
  100% {
    top: 0px;
  }
}

@keyframes h-animation {
  0% {
    top: -200px;
  }
  100% {
    top: 0px;
  }
}

@-webkit-keyframes btn-animation {
  0% {
    bottom: -140px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes btn-animation {
  0% {
    bottom: -140px;
  }
  100% {
    bottom: 0px;
  }
}

@-webkit-keyframes p-animation {
  0% {
    left: -300px;
  }
  100% {
    left: 0px;
  }
}

@keyframes p-animation {
  0% {
    left: -300px;
  }
  100% {
    left: 0px;
  }
}
/*# sourceMappingURL=home.css.map */